@font-face {
  font-family: "Graphik";
  src: url("../src/assets/fonts/Graphik-Font-Family/GraphikRegular.otf")
      format("opentype"),
    url("../src/assets/fonts/Graphik-Font-Family/GraphikThin.otf")
      format("opentype"),
    url("../src/assets/fonts/Graphik-Font-Family/GraphikSuper.otf")
      format("opentype"),
    url("../src/assets/fonts/Graphik-Font-Family/GraphikSemibold.otf")
      format("opentype"),
    url("../src/assets/fonts/Graphik-Font-Family/GraphikMedium.otf")
      format("opentype"),
    url("../src/assets/fonts/Graphik-Font-Family/GraphikLight.otf")
      format("opentype"),
    url("../src/assets/fonts/Graphik-Font-Family/GraphikExtralight.otf")
      format("opentype"),
    url("../src/assets/fonts/Graphik-Font-Family/GraphikBold.otf")
      format("opentype"),
    url("../src/assets/fonts/Graphik-Font-Family/GraphikBlack.otf")
      format("opentype");
}

body {
  font-family: "Graphik", sans-serif;
}

@keyframes moveClouds {
  from {
    transform: translate(-350px, -350px) scale(0.7);
  }
  to {
    transform: translate(300px, 300px) rotate(180deg) scale(1.2);
  }
}

@keyframes movePlane {
  from {
    transform: translate(-50px, -50px) rotate(135deg);
  }
  to {
    transform: translate(300px, 300px) rotate(135deg);
  }
}

@keyframes movePlaneShadow {
  from {
    transform: translate(-50px, -50px) rotate(135deg);
  }
  to {
    transform: translate(300px, 300px) rotate(135deg);
  }
}

.animate-moveClouds {
  animation: moveClouds 20s linear infinite;
}

.animate-movePlane {
  animation: movePlane 15s linear infinite;
}

.animate-movePlaneShadow {
  animation: movePlaneShadow 15s linear infinite;
}
