@font-face {
  font-family: "Graphik";
  src: url("../src/assets/fonts/Graphik-Font-Family/GraphikRegular.otf")
      format("opentype"),
    url("../src/assets/fonts/Graphik-Font-Family/GraphikThin.otf")
      format("opentype"),
    url("../src/assets/fonts/Graphik-Font-Family/GraphikSuper.otf")
      format("opentype"),
    url("../src/assets/fonts/Graphik-Font-Family/GraphikSemibold.otf")
      format("opentype"),
    url("../src/assets/fonts/Graphik-Font-Family/GraphikMedium.otf")
      format("opentype"),
    url("../src/assets/fonts/Graphik-Font-Family/GraphikLight.otf")
      format("opentype"),
    url("../src/assets/fonts/Graphik-Font-Family/GraphikExtralight.otf")
      format("opentype"),
    url("../src/assets/fonts/Graphik-Font-Family/GraphikBold.otf")
      format("opentype"),
    url("../src/assets/fonts/Graphik-Font-Family/GraphikBlack.otf")
      format("opentype");
}

body {
  font-family: "Graphik", sans-serif;
}

@keyframes moveClouds {
  from {
    transform: translate(-350px, -350px) scale(0.7);
  }
  to {
    transform: translate(300px, 300px) rotate(180deg) scale(1.2);
  }
}

@keyframes movePlane {
  from {
    transform: translate(-50px, -50px) rotate(135deg);
  }
  to {
    transform: translate(300px, 300px) rotate(135deg);
  }
}

@keyframes movePlaneShadow {
  from {
    transform: translate(-50px, -50px) rotate(135deg);
  }
  to {
    transform: translate(300px, 300px) rotate(135deg);
  }
}

.animate-moveClouds {
  animation: moveClouds 20s linear infinite;
}

.animate-movePlane {
  animation: movePlane 15s linear infinite;
}

.animate-movePlaneShadow {
  animation: movePlaneShadow 15s linear infinite;
}



.skeletoneff {
  /* border: 1px dotted gray; */
  border-radius: 1.5rem;
  animation: throbbing 2s infinite alternate;
}

@keyframes throbbing {
  0% {
    opacity: 0.8;
    transform: scale(1);
  }
  100% {
    opacity: 0.6;
    transform: scale(1.05);
  }
}

/* 
.skeleton {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.skeleton::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  background-color: rgb(241 245 249);
  background-size: 200% 100%;
  animation: fill 5s infinite linear;
}

@keyframes fill {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
} */

